*{
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
    // font-family: 'Montserrat', sans-serif;
     font-family: 'Noto Sans KR';
    
    
    }
    //------------------------------------로딩페이지
    // .loader{
    //     position: fixed;
    //     left: 0px;
    //     top: 0px;
    //     width: 100%;
    //     height: 100%;
    //     z-index:999;
    //     background: video('../photo/video.mp4') 50% 50% no-repeat;
    // }
    .wrap{display:none;}
    .loader { 
        position: absolute; 
        left: 50%; top: 50%; 
        z-index: 1; width: 150px; 
        height: 150px; 
        margin: -75px 0 0 -75px; 
        border: 16px solid #f3f3f3; 
        border-radius: 50%; 
        border-top: 16px solid #000000; 
        width: 120px; height: 120px; 
        -webkit-animation: spin 2s linear infinite; 
        animation: spin 2s linear infinite; 
    } 
    @-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); 
        } 100% { -webkit-transform: rotate(360deg); 
        } } 
    @keyframes spin { 0% { transform: rotate(0deg); 
    } 100% { transform: rotate(360deg); } }

    //------------------------------------ 상단메뉴

    // .head{
    //     text-align: center;
    //     display: flex;
    //     padding-left: 5%;
    //     padding-top: 1%;
    //     a img{
    //         width: 130px;
    //     }
    //     .hd{
    //         padding-left: 20%;
    //         ul{
    //             li{
    //                 list-style: none;
    //                 float: left;
    //                 display: flex;
    //                 word-spacing: 100px;
    //                 justify-content: center;
    //                 font-weight: bold;
                    
                
    //                 a{
    //                     text-decoration: none;
    //                     // color: #ED9282;
    //                     // font-size: 20px;
    //                     // font-weight:700;
    //                     margin: 50px 100px;
    //                     display: flex;
    //                     color: white;
    //                     font-size: 2em;
    //                     text-shadow: 
    //                     -1px 0 #333, 
    //                     0 1px #333, 
    //                     1px 0 #333, 
    //                     0 -1px #333;
                        
    //                 }
    //             }
    //         }
    //     }
    // }

    //------------------------------------포트폴리오 시작 
    #menu{
        text-align: center;
        display: flex;
        padding-left: 25%;
        padding-top: 1%;
        position:fixed;
        top:0;
        left: 0;
        // width: 100%;
        z-index:99999;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        // border-bottom: dashed 5px rgb(204, 204, 204);
        img{
            position: relative;
            margin-left: -600%;
            // margin-left:-790px;

            // margin-bottom: 100px;
            width: 120px;
        }
        ul{
            li{
                margin:40px 90px;
                float: left;
                display: flex;
                word-spacing: 100px;
                justify-content: center;
                font-weight: bold;
            
                a{
                    text-align: center;
                    text-decoration: none;
                    // color: #ED9282;
                    color: black;
                    font-size: 18px;
                    font-weight:700;
                    // margin: 40px 0px;
                    display: flex;
                    // text-shadow: 
                    // -1px 0 #333, 
                    // 0 1px #333, 
                    // 1px 0 #333, 
                    // 0 -1px #333;
                        &:hover{
                            // text-decoration: lighten($color: #e2db9c, $amount: 10%);
                            text-decoration: 2px underline;
                            text-decoration-color:rgb(119, 119, 119);
                        }
                    
                    }
                }
            }
        }
    @media (max-width:1300px){
        #menu{
            padding-left: 38%;
            img{
                position: relative;
                // margin-left: -900%;
                margin-left:-790px;
                // margin-bottom: 100px;
                width: 120px;
            }
            ul{
                display: none;
            }
        }
           
    }

    @media (max-width:1150px){
        #menu{
            padding-left: 42%;
            img{
                position: relative;
                // margin-left: -900%;
                margin-left:-790px;
                // margin-bottom: 100px;
                width: 120px;
            }
        }
    }

    @media (max-width:1000px){
        #menu{
            padding-left: 48%;
            img{
                position: relative;
                // margin-left: -900%;
                margin-left:-790px;
                // margin-bottom: 100px;
                width: 120px;
            }
        }
    }
    @media (max-width:375px){
        #menu{
            padding-left: 120%;
            img{
                position: relative;
                // margin-left: -900%;
                margin-top:20px;
                margin-left:-790px;
                // margin-bottom: 100px;
                width: 100px;
            }
        }
    }
// ------------------------------------우측 메뉴 버튼(반응형)
    @media (max-width:1300px){

        // .menu-trigger {
        //     position: relative;
        //     width: 50px;
        //     height: 44px;
        //     margin:100px auto 0 auto;
        //     display:block;
        // }
        
        
        
        // .menu-trigger span {
        //     display: inline-block;
        //     transition: all .4s;
        //     box-sizing: border-box;
        // }
        // .menu-trigger span {
        //     position: absolute;
        //     left: 0;
        //     width: 100%;
        //     height: 4px;
        //     background-color: #000;
        //     border-radius: 4px;
        // }
        
        // .menu-trigger span:nth-of-type(1) {
        //     top: 0;
        // }
        
        // .menu-trigger span:nth-of-type(2) {
        //     top: 20px;
        // }
        // .menu-trigger span:nth-of-type(3) {
        //     bottom: 0;
        // }
        // .menu-trigger.active-1 span:nth-of-type(1) {
        //     -webkit-transform: translateY (20px) rotate (-45deg);
        //     transform: translateY(20px) rotate(-45deg);
        // }
        
        // .menu-trigger.active-1 span:nth-of-type(2) {
        //     opacity: 0;
        // }
        
        // .menu-trigger.active-1 span:nth-of-type(3) {
        //     -webkit-transform: translateY(-20px) rotate(45deg);
        //     transform: translateY(-20px) rotate(45deg);
        // }
        
        // .nav{
        //     background:#f3f3f3; border:1px solid #000;
        //     text-align:center; padding:50px;
        //     width:200px;margin:60px auto;
        //     visibility: hidden;
        //     opacity:0;
        //     transition:.5s;
        // }
        // .nav.active{visibility: visible; margin:30px auto;opacity:1;}
        // .nav a{
        //     padding:20px 0;font-size:18px; 
        //     display:block;color:#000; text-decoration: none; border-bottom:1px solid #ddd;
        // }



    //     .ham{
    //         position: absolute;
    //         top: 6%; left: 94%;
    //         transform: translate(-50%, -50%);
    //         width: 60px; height: 55px; 
    //         cursor:pointer;
    //         /*  background: rgba(255,255,255,0.3); */
    //         }
    //     .ham span {
    //     display: block;
    //     background: #000;
    //     width: 42px;
    //     height: 4px;
    //     border-radius: 3px;
    //     transition: margin 0.25s 0.25s, transform 0.25s ;
    //     }
    //     .ham .bar1 {margin-bottom: 8px;}
    //     .ham .bar2 {}
    //     .ham .bar3 {margin-top: 8px;}

    //     .ham.active span {
    //     transition: margin 0.25s, transform 0.25s 0.25s;
    //     }

    //     .ham.active .bar1 {
    //     margin-top: 8px;
    //     margin-bottom: -4px;
    //     transform: rotate(45deg);
    //     }
    //     .ham.active .bar2 {
    //     transform: rotate(45deg);
        
    //     }
    //     .ham.active .bar3 {
    //     margin-top: -4px;
    //     transform: rotate(135deg);
    // }
        // .nav-btn {
        //     position: fixed;
        //     right: 38px;
        //     top: 35px;
        //     z-index: 10000;
        //     cursor: pointer;
        //     span {
        //         display: block;
        //         width: 35px;
        //         height: 3px;
        //         background-color: #1f1e3e;
        //         border-radius: 5px;
        //         transition: 0.3s;
        //     }
        //     .bar2 {
        //         margin: 7px 0;
        //     }
        // }
    }
    header {
        width: 100%;
        margin: 0 auto;
        background-color: #fff;
        position: fixed;
        right: -50%;
        top: 0;
        transform: translateX(50%);
        transition: 0.3s;
        z-index: 1000;
        cursor: pointer;
        .slide{
            right: 50%;
            ul {
                display: block;
                list-style-type: disc;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                padding-inline-start: 40px;
            }
        }
    }

    // ------------------------------------첫번째 페이지
    .section{
        text-align: left;
    }
    #full-page{position:relative;
        z-index:9999;}

    .fix {
        width: 80%;
        // background:url('../photo/compp.png') no-repeat;
        border:6px solid #000;
        box-sizing: border-box;
        height:73vh;
        position:fixed;
        left:10%; top:14%;
        z-index:999;
        pointer-events: none;
    }
    .fix.active {
        animation: box 1s;
    }
    @keyframes box {
        0%{width:80%;}
        50%{width:100%; height:100vh; left:0; top:0; opacity: 0;}
        100%{width:80%; opacity: 1;}
    }

    .s0{
       padding-left: 10%;
       display: flex;    

            h2 {
                color: white;
                font-size: 3em;
                text-shadow: 
                -1px 0 #333, 
                0 1px #333, 
                1px 0 #333, 
                0 -1px #333;
            }
            h3{
                font-size: 4em;
                color: rgb(0, 0, 0);        
            }
            p{
                font-size: 25px;
                line-height: 50px;
                color: #767d8b;
                .highlight{
                    display:inline-table;
                    position:relative;
                    overFlow:hidden;
                    &::before{
                        content: '';
                        display: block;
                        width: 100%; 
                        height:100%;
                        background:rgb(255,200,0.5);
                        position:absolute;
                        top:0;
                        left:-100%;
                        transition:all .35s;
                    &:hover::after{left:0;}
                        
                    }
                }
                
            }
            img{
                width: 32%;
                position: absolute;
                left: 60%;
                bottom: 15%;
                
            }
            .background{
                img{
                    position: absolute;
                    width: 30px;
                    
                }
                .html{
                    width: 25px;
                    top: 80%;
                    left: 20%;
                    animation: css 5s linear infinite;
                }
                .css{
                    width: 30px;
                    top: 27%;
                    left: 35%;
                    animation: html 6s linear infinite;
                }
                .js{
                    width: 30px;
                    top:64%;
                    left: 57%;
                    animation: js 5s linear infinite;
                    
                }
                .htmll{
                    top: 30%;
                    width:40px;
                    left: 65%;
                    animation: html 5s linear infinite;
                }
                .csss{
                    top: 20%;
                    left: 88%;
                    animation: js 8s linear infinite;
                    width:25px;
                }
                .jss{
                    width:30px;
                    top:17%;
                    left: 15%;
                    animation: html 5s linear infinite;
                    
                    
                }
                .html1{
                    top: 60%;
                    width:15px;
                    left: 5%;
                    animation: html 5s linear infinite;
                }
                .css1{
                    top: 40%;
                    left: 85%;
                    animation: js 9s linear infinite;
                    width:20px;
                }
                .js1{
                    width:15px;
                    top:85%;
                    left: 45%;
                    animation: html 5s linear infinite;
                    
                    
                }
            }
            @keyframes html {
                50% { margin-top:30px;  }
            }
           @keyframes css {
            50% { margin-top:-35px;  }
            }
            @keyframes js {
            50% { margin-top:-30px;  }
            }
            .next{
                a{
                    img{position: absolute;
                        width: 70px;
                        left: 48%;
                        bottom: 3%;
                    }
                }
            }
        }


    // ------------------------------------두번째 페이지
    .s1{        
        // left: -100px;
        margin: 10% 0;
        
        
        section{
            display: flex;
            // flex-direction: row;
            justify-content: center;
            align-items: center;
            height:100vh;
            
            // left: -100px;

            // &>div:nth-of-type(1){width:50%}
            // &>div:nth-of-type(2){width:40%}
           
        
        
            div h2{
                text-align: center;
                padding-bottom: 10px;
                color: rgb(0, 0, 0);
                font-size: 25px;
                line-height: 25px;
                // text-shadow: 
                // -1px 0 #333, 
                // 0 1px #333, 
                // 1px 0 #333, 
                // 0 -1px #333;
            }
            .films{
                width:200px;
                padding:0 30px;
                background:url('../photo/squ.png')  0 0;
                background-size: 44px;
                position: absolute;
                z-index: 9999;
                bottom:0px;
                left: -2%;
                transform:rotate(0deg) translate(-130%,-30%);
                transition: .5s .7s;
            }
            .films.active{transform: rotate(340deg) translate(0%,0);}
            .films figure{
                height:105px;
                background: #000;
                border:5px solid #000;
                border-width: 10px 5px 10px 5px;
                display: flex;
                .blank{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    background:white;
                }
            }
            .films video{ 
                width: 100%;
                // padding-left: 10px;
                
               
            }
            
            .self {
                width: 80%;
                // background:url('../photo/compp.png') no-repeat;
                // border:6px solid #000;
                background-size: 100%;
                background-position-y: px;
                display: flex;
                padding:5% 10% 0 8%;
                box-sizing: border-box;
                
               
                z-index: 2;
                min-height: 73vh;
                
                h1{
                    font-size: 28px;
                    // color:grey;
                    color: white;
                        text-shadow: 
                        -1px 0 #333, 
                        0 1px #333, 
                        1px 0 #333, 
                        0 -1px #333;
                    letter-spacing: 4px;

                    a{
                        text-shadow: none;
                        font-size:45px;
                        color:black;
                        // color: white;
                        // text-shadow: 
                        // -1px 0 #333, 
                        // 0 1px #333, 
                        // 1px 0 #333, 
                        // 0 -1px #333;
                        // letter-spacing: 10px;
                    }
                }
                h2{
                    text-align: left;
                    padding: 46px 0 30px;
                    text-decoration: 3px underline;
                    text-decoration-color: rgba(95, 158, 160, 0.603);
                }
            
               .two{
                    .about{
                        padding-top: 0%;
                        // margin: 0 80px;
                        line-height: 35px;
                        font-size: 18px;
                    }
                    .education{
                        position: relative;
                        line-height: 35px;
                        font-size: 18px;
                    }
                    .icon{
                        // display: none;
                        padding-left: 0;
                        height: 20px;
                        position: relative;
                    }
                }
        
                .skill{
                    padding-top: 3%;
                    position: absolute;
                    left: 60%;
                    h2{padding-bottom: 30px;
                        text-decoration: 3px underline;
                        text-decoration-color: rgba(95, 158, 160, 0.603);
                    }
                    padding-left: 10px;
                    line-height: 35px;
                    font-size: 18px;
                    
                    .icon{
                        // display: none;
        
                        height: 20px;
                        position: relative;
                    }
                    
                }
            }
                
        }
    }

        // ------------------------------------세번째 페이지
        .s2{
            h2{
                text-align: center;
                padding-bottom: 10px;
                color: white;
                font-size: 40px;
                // letter-spacing: 100px;
                // text-shadow: 
                // -1px 0 #333, 
                // 0 1px #333, 
                // 1px 0 #333, 
                // 0 -1px #333;
            }
            .port{
                .site{
                    // display: flex;
                    text-align: center;
                    position: relative;
                    left: 10%;
                    width: 80vw;
                    // width: 90%;
                    height: 73vh;
                    // height:80%;
                    padding: 3% 6rem;
                    // border-style: solid;
                    // border-width: 6px;
                    div{
                        width:100%;
                    }
                    .workpage{
                        text-align: center;
                        padding-top: 100px;
                        width:100%;
                        color: white;
                        font-size: 4em;
                        letter-spacing: 15px;
                        text-shadow: 
                        -2px 0 #333, 
                        0 2px #333, 
                        1px 0 #333, 
                        0 -1px #333;
                        img{
                            // position: absolute;
                            width: 510px;
                            // left:10%;
                            // &:hover{
                            //     opacity: 90%;
                            // }
                        }
                    }
                    .fp{
                        margin: 1% 0;
                        width: 100%;
                        display: flex;
                        width:100%;

                       .blank{
                           position:relative;
                            .up{
                                position:absolute;
                                left:50%; top:50%;
                                transform: translate(-50%,-50%);
                                opacity:0;
                                transition:.5s;
                                color: black;
                                line-height:2;
                                /* display:none; */
                                border-bottom-left-radius:4px;
                                border-bottom-right-radius:4px;
                                padding:10px; 
                                z-index: 1;
                                transition:all .5s;
                                height:0;
                                }
                            &:hover .up{ 
                                opacity:1;
                            }
                        }
                            img{
                                padding: 10px;
                                // border-style:dashed;
                                border-color: black;
                                border-width: 5px;
                                width: 90%;
                                &:hover{
                                    opacity: 40%;
                                    display:block;
                                }
                                
                            }
                        }
                        a{
                            padding-top: 4%;
                            font-size: 20px;
                            line-height: 30px;
                            font-weight: 700;
                            width: 50%;
                            position:relative;
                            p{
                                font-size: 15px;
                                margin:0;
                                text-align: left;
                                font-weight:normal;
                               
                            }
                            &:hover p{
                                opacity:1;
                            }
                            .color{
                                position: absolute;
                            }
                        }
                      
                    }
                    .sp{
                        padding: 2% 0;
                        width: 100%;
                        display: flex;
                        .blank{
                            .up{
                                position:absolute; left:0; bottom:0;
                                color: black;
                                width:100%; 
                                line-height:2;
                                /* display:none; */
                                border-bottom-left-radius:4px;
                                border-bottom-right-radius:4px;
                                background:black;
                                padding:10px; 
                                z-index: 1;
                                transition:all .5s;
                                opacity: 0;
                                transform: translateY(100%);
                                height:0;
                                display:none;
                                overflow:hidden;
                                }
                            img{
                                padding: 10px;
                                // border-style: dashed;
                                border-color: black;
                                border-width: 5px;
                                width: 90%;
                                &:hover{
                                    opacity: 80%;
                                }
                            }
                        }
                        a{
                            padding-top: 4%;
                            width: 50%;
                            font-size: 20px;
                            line-height: 30px;
                            font-weight: 700;
                            p{
                                font-size: 15px;
                                text-align: left;
                                font-weight:normal;
                            }
                        }
                        
                    }
                    .tp{
                        padding: 2% 0;
                        width: 100%;
                        display: flex;
                        .blank{
                            .up{
                                position:absolute; left:0; bottom:0;
                                color: black;
                                width:100%; 
                                line-height:2;
                                /* display:none; */
                                border-bottom-left-radius:4px;
                                border-bottom-right-radius:4px;
                                background:black;
                                padding:10px; 
                                z-index: 1;
                                transition:all .5s;
                                opacity: 0;
                                transform: translateY(100%);
                                height:0;
                                display:none;
                                overflow:hidden;
                                }
                            img{
                                padding: 10px;
                                // border-style: dashed;
                                border-color: black;
                                border-width: 5px;
                                width: 90%;
                                &:hover{
                                    opacity: 80%;
                                }
                            }
                        }
                        a{
                            padding-top: 4%;
                            width: 50%;
                            font-size: 20px;
                            line-height: 30px;
                            font-weight: 700;
                            p{
                                font-size: 15px;
                                text-align: left;
                                font-weight:normal;
                            }
                        }
                        .up{
                            position:absolute; left:0; bottom:0;
                            color: black;
                            width:100%; 
                            line-height:2;
                            /* display:none; */
                            border-bottom-left-radius:4px;
                            border-bottom-right-radius:4px;
                            background:black;
                            padding:10px; 
                            z-index: 1;
                            transition:all .5s;
                            opacity: 0;
                            transform: translateY(100%);
                            height:0;
                            display:none;
                            overflow:hidden;
                        }
                    }
                }
            }
        // }

        // ------------------------------------네번째 페이지
        .s3{
            h2{
                text-align: center;
                padding-bottom: 50px;
                color: white;
                font-size: 20px;
                text-shadow: 
                -1px 0 #333, 
                0 1px #333, 
                1px 0 #333, 
                0 -1px #333;
                z-index: 9999;
                position: relative;
            }
            .contact{
                
                .thank{
                    &>a{  border-style: solid;
                        border-width: 8px;
                        font-size: 3em;
                        // font-weight: bold;
                        font-weight: bolder;
                        text-decoration: underline;
                        position: absolute;
                        bottom: 0;
                        left: 20%;
                        width: 70vw;
                        height: 65vh;
                        padding: 4.6rem 6rem;
                        color: black;
                        // background: rgb(229, 240, 255);
                        background: rgb(255, 255, 255);
                        
                        
                        }
                        .last{
                            color: black;
                            text-decoration: none;
                            &:hover{
                                // color:rgba(95, 158, 160, 0.603);
                                color: white;
                                text-shadow: 
                                -1px 0 #333, 
                                0 1px #333, 
                                1px 0 #333, 
                                0 -1px #333;
                                z-index: 9999;
                                position: relative;
                            }
                        }
                        .cje{
                            
                            // padding-left: 650px;
                            // padding-top: 500px;
                            p{
                                font-size: 20px;
                                font-weight: bolder;
                                position: relative;
                                left: 650px;
                                top: 400px;
                                cursor: pointer;
                              
                                
                                
                            }
                            
                    }
                    .fixed_pfo{
                        position: absolute;
                        bottom: 0;
                        left: 3vw;
                        padding: 3.2rem 10px;
                        z-index: 100;
                    } 
                    
                }
            }
           
        }
            