*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'IBM Plex Sans KR', sans-serif;
    
    
    }
    // 로딩페이지
    // .loader{
    //     position: fixed;
    //     left: 0px;
    //     top: 0px;
    //     width: 100%;
    //     height: 100%;
    //     z-index:999;
    //     background: video('../photo/video.mp4') 50% 50% no-repeat;
    // }
    .wrap{display:none;}
    .loader { 
        position: absolute; 
        left: 50%; top: 50%; 
        z-index: 1; width: 150px; 
        height: 150px; 
        margin: -75px 0 0 -75px; 
        border: 16px solid #f3f3f3; 
        border-radius: 50%; 
        border-top: 16px solid #fadad8; 
        width: 120px; height: 120px; 
        -webkit-animation: spin 2s linear infinite; 
        animation: spin 2s linear infinite; 
    } 
    @-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); 
        } 100% { -webkit-transform: rotate(360deg); 
        } } 
    @keyframes spin { 0% { transform: rotate(0deg); 
    } 100% { transform: rotate(360deg); } }

    // 상단메뉴
    .head{
        text-align: center;
        display: flex;
        padding-left: 5%;
        padding-top: 1%;
        a img{
            width: 130px;
        }
        .hd{
            padding-left: 20%;
            ul{
                li{
                    list-style: none;
                    float: left;
                    display: flex;
                    word-spacing: 100px;
                    justify-content: center;
                    font-weight: bold;
                
                    a{
                        text-decoration: none;
                        color: #ED9282;
                        font-size: 20px;
                        font-weight:700;
                        margin: 50px 100px;
                        display: flex;
                        
                    }
                }
            }
        }
    }

    //포트폴리오 시작 
    #menu{
        text-align: center;
        display: flex;
        padding-left: 30%;
        padding-top: 1%;
        position:fixed;
        top:0;
        left: 0;
        z-index:990;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        img{
            position: relative;;
            // margin-left: -900%;
            margin-left:-790px;
            // margin-bottom: 100px;
            width: 110px;
        }
        ul{
            li{
                margin:40px 90px;
                float: left;
                display: flex;
                word-spacing: 100px;
                justify-content: center;
                font-weight: bold;
            
                a{
                    text-align: center;
                    text-decoration: none;
                    color: #ED9282;
                    font-size: 20px;
                    font-weight:700;
                    // margin: 40px 0px;
                    display: flex;
                    
                }
            }
        }
    }

    .section{
        text-align: left;
    }

    .s0{
       padding-left: 100px;
       display: flex;
      
    
    

            h2 i{
                color: white;
                font-size: 45px;
                text-shadow: 
                -1px 0 #333, 
                0 1px #333, 
                1px 0 #333, 
                0 -1px #333;
            }
            h3{
                // color: white;
                // font-size: 65px;
                // text-shadow: 
                // -1px 0 #333, 
                // 0 1px #333, 
                // 1px 0 #333, 
                // 0 -1px #333;
                font-size: 3em;
                color: white;
                text-transform: uppercase;
                text-shadow: 
                -1px 0 #333, 
                0 1px #333, 
                1px 0 #333, 
                0 -1px #333;
            }
            p{
                font-size: 25px;
                line-height: 50px;
                color: #767d8b;
                // text-shadow: 
                // -1px 0 #333, 
                // 0 1px #333, 
                // 1px 0 #333, 
                // 0 -1px #333;
                .highlight{
                    display:inline-table;
                    position:relative;
                    overFlow:hidden;
                    &::before{
                        content: '';
                        display: block;
                        width: 100%; 
                        height:100%;
                        background:rgb(255,200,0.5);
                        position:absolute;
                        top:0;
                        left:-100%;
                        transition:all .35s;
                    &:hover::after{left:0;}
                        
                    }
                }
            }
            // &:hover .highlight::after{left:0;}
            img{
                width: 30%;
            }
           
        }
    
    .s1{
        // background-image: url('../photo/paper.jpg');
        // background-size: cover;
        
        
        section{
            display: flex;
            max-width: 86vw;
            margin: 0 auto;
            padding: 25vh 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &>div:nth-of-type(1){width:50%}
            &>div:nth-of-type(2){width:40%}
           
        }
        
            div h2{
                text-align: center;
                padding-bottom: 10px;
                color: white;
                font-size: 20px;
                text-shadow: 
                -1px 0 #333, 
                0 1px #333, 
                1px 0 #333, 
                0 -1px #333;
            }
            div video{ 
                width: 100%;
                padding-left: 110px;
                padding-top: 50px;
            }
            img{
                width: 5%;
                transform: rotate(330deg);
                // display: flex;
                position: absolute;
                left: 560px;
                top:330px
            }
            div .about{
            padding: 2% 0;
            }
            div .skill{
                padding: 2% 0;
            }
        }

        .s2{
            h2{
                text-align: center;
                padding-bottom: 10px;
                color: white;
                font-size: 20px;
                text-shadow: 
                -1px 0 #333, 
                0 1px #333, 
                1px 0 #333, 
                0 -1px #333;
            }
            .port{
                .site{
                    img{
                        width: 35%;
                    }
                }
            }
        }
        .s3{
            h2{
                text-align: center;
                padding-bottom: 50px;
                color: white;
                font-size: 20px;
                text-shadow: 
                -1px 0 #333, 
                0 1px #333, 
                1px 0 #333, 
                0 -1px #333;
                z-index: 9999;
                position: relative;;
            }
            .contact{
                
                .thank{
                    a{  font-size: 3em;
                        // font-weight: bold;
                        font-weight: bolder;
                        text-decoration: underline;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        width: 70vw;
                        height: 65vh;
                        padding: 4.6rem 6rem;
                        background: rgb(229, 240, 255);
                        }
                        .cje{
                            
                            // padding-left: 650px;
                            // padding-top: 500px;
                            p{
                                font-size: 20px;
                                font-weight: bolder;
                                position: relative;
                                left: 650px;
                                top: 400px;
                                
                                
                            }
                            .fixed_pfo{
                                position: absolute;
                                bottom: 0;
                                left: 10vw;
                                padding: 3.2rem 10px;
                                z-index: 100;
                            }
                    }
                        
                    
                }
            }
           
        }
            